body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.text-bg-orange{
  background-color: rgb(255, 136, 0)!important;
}

.nav-pills .nav-link.active{
  background-color: #30C2E2!important;
  color: white!important;
}
.nav-pills .nav-link{
  color: #30C2E2!important;
}

.cita{
  color: black!important;
  border: 3 black!important;
}

.fc .fc-col-header-cell-cushion {
  display: inline-block;
  padding: 2px 4px;
  color: black;
  text-decoration: none;
}

.fc .fc-daygrid-day-number {
  padding: 4px;
  position: relative;
  z-index: 4;
  color: black;
  text-decoration: none;
}

.fc .fc-button-primary {
  background-color: #0d6efd!important;
  border-color: white!important;
  border-radius: 0.5rem!important;
  
}

/* .fc .fc-view-harness, .fc-view-harness-active {
  height: 670px !important;
  max-height: 700px !important;
} */